<launch>

<!-- Load PID parameters -->
<rosparam file="$(find bionic_hand)/config/PID_Param.yaml" command="load" />
<!-- Load hand parameters -->
<rosparam file="$(find bionic_hand)/config/hand_Param.yaml" command="load" />
<!-- Load MPC parameters -->
<rosparam file="$(find bionic_hand)/config/MPC_Param.yaml" command="load" />

<!-- Launch the simulation -->
<node name="finger_sim_node" pkg="bionic_hand" type="finger_sim.py" output="screen"/>
<!-- Launch the ploting script -->
<node name="plot" pkg="bionic_hand" type="plot.py" output="screen"/>

<!-- Launch the C++ executable -->
    <node name="bionic_node" pkg="bionic_hand" type="bionic" output="screen" />
</launch>

